<mat-table id="my-table" [dataSource]="listData" matSort>

  <ng-container matColumnDef="Sun">
    <mat-header-cell  *matHeaderCellDef mat-sort-header>Sunday</mat-header-cell>
    <mat-cell disabled="element.days[0].disabled" *matCellDef="let element">{{element.days[0].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Mon">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Monday</mat-header-cell>
    <mat-cell [style]="element.days[1].disabled ? " *matCellDef="let element">
<!--      {{element.days[1].value | moment: 'ddd DD'}}-->
      <mat-icon *ngIf="!element.days[1].disabled">get_app</mat-icon>
    </mat-cell>

  </ng-container>
  <ng-container matColumnDef="Tue">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Tuesday</mat-header-cell>
    <mat-cell disabled="element.days[2].disabled" *matCellDef="let element">{{element.days[2].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Wed">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Wednesday</mat-header-cell>
    <mat-cell disabled="element.days[3].disabled" *matCellDef="let element">{{element.days[3].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>

  <ng-container matColumnDef="Thu">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Thursday</mat-header-cell>
    <mat-cell disabled="element.days[4].disabled" *matCellDef="let element">{{element.days[4].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Fri">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Friday</mat-header-cell>
    <mat-cell disabled="element.days[5].disabled" *matCellDef="let element">{{element.days[5].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="Sat">
    <mat-header-cell *matHeaderCellDef  mat-sort-header>Saturday</mat-header-cell>
    <mat-cell disabled="element.days[6].disabled" *matCellDef="let element">{{element.days[6].value | moment: 'ddd DD'}}</mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row  *matRowDef="let row; columns: displayedColumns"></mat-row>
</mat-table>
